<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="3749Get.UnoVibe"
    Publisher="CN=95122495-0FC5-4CBE-B461-D28358AFE57A"
    Version="0.1.5.0" />

  <Properties>
    <DisplayName>UnoVibe</DisplayName>
    <PublisherDisplayName>Get</PublisherDisplayName>
    <Description>A vibecoding frontend application.</Description>
    <Logo>Assets\Icons\iconLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily
      Name="Windows.Desktop"
      MinVersion="10.0.17763.0"
      MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-us" />
  </Resources>

  <Applications>
    <Application
      Id="App"
      Executable="UnoVibe.exe"
      EntryPoint="Windows.FullTrustApplication">

      <uap:VisualElements
        AppListEntry="default"
        DisplayName="UnoVibe"
        Description="A vibecoding frontend application."
			  BackgroundColor="transparent"
        Square44x44Logo="Assets\Icons\iconLogo.png"
        Square150x150Logo="Assets\Icons\iconLogo.png">
				<uap:DefaultTile Wide310x150Logo="Assets\iconWideTile.png"  Square71x71Logo="Assets\Icons\iconLargeTile.png" Square310x310Logo="Assets\Icons\iconLargeTile.png"/>
				<uap:SplashScreen Image="Assets\Icons\iconLogo.png" />
      </uap:VisualElements>

    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>

</Package>